.folors {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
    max-width: 1200px;
  }
  .container-grid {
    margin-top: 1rem;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    grid-gap: 10px;
    justify-content: center; 
  }
  

  .container-grid .folor-card {
    flex: 1; 
    width: 100%;
    min-width: 200px; 
    max-width: 500px; 
    padding: 5px 5px 0px 5px;
    border-radius: 5px;
    border: 1px solid ;
    text-align: center;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  .container-grid .folor-card .bottom-info {
    display: flex;
    flex-direction: column; /* Keeps "Font" and "Style" on separate lines */
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-top: 5px;
    border-top: 1px solid;
    width: 100%;
}

.container-grid .folor-card .bottom-info p {
    font-size: 0.9rem;
    margin: 2px 0;
    text-align: left;
}

  .container-grid .folor-card:hover {
    transform: translateY(-5px);
  }

  /* Typography */
 .container-grid .folor-card .firstRow {
    line-height: 1.0;
    white-space: nowrap; 
}
  
.container-grid .folor-card .secondRow {
    line-height: 1.0;
    white-space: nowrap;

  }

  .container-grid .folor-card .thirdRow {
    line-height: 1.0;
    white-space: nowrap;
  }

  .container-grid .folor-card .randLorem {
    
    padding-bottom: 10px;
    text-align: left;
    white-space: nowrap;
  }
  .container-grid .folor-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }
  
  /* Color boxes */
  
  
  .color-card {
    display: flex;
    flex: 1; 
    width: 100%;
    min-width: 200px; 
    max-width: 500px; 
    min-height: 450px;
    border-radius: 5px;
    border: 1px solid;
    padding: 5px;
    text-align: center;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  .color-box {
    width: 100%;
    height: 75px;
    margin: 1px;
    border-radius: 5px;
    border: 1px solid;
    position: relative;
  }
  
  .color-code {
    display: none; /* hide initially */
    position: absolute;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4); 
    color: white;
    padding: 5px;
    font-size: 0.9rem;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .color-code:hover {
    background-color: rgba(0, 0, 0, 0.6); /* darken on hover */
  }
  
  .color-box:hover {
    /*transform: translateY(-5px);*/
    transition: height 0.3s ease;
    height: 90px;
  }
  
  .color-box:hover .color-code {
    display: block; /* show color hex on hover */
  }
  
  .color-card .bottom-info {
    text-align: left;
    width: 100%;
    padding-top: 5px;
  }
  
  .color-card:hover {
    transform: translateY(-5px);
  }
  
  .color-card .bottom-info p {
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    padding-top: 5px;
    border-top: 1px solid;
    width: 100%;
    font-size: 0.9rem;
  }
  

/* Custom Fonts (from DaFont) */
@font-face {
    font-family: 'Porscha';
    src: url('/public/fonts/911porschav3cond.ttf') format('truetype');
  }

  @font-face {
    font-family: 'FatKat';
    src: url('/public/fonts/Fat Kat - (Demo) hanscostudio.com.ttf') format('truetype');
  }

  @font-face {
    font-family: 'GrandParadiso';
    src: url('/public/fonts/GrandParadiso-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'HeavyHeap';
    src: url('/public/fonts/heavy heap rg.otf') format('opentype');
  }

  @font-face {
    font-family: 'JapanRich';
    src: url('/public/fonts/JapanRich-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Narnia';
    src: url('/public/fonts/Narnia.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Neon';
    src: url('/public/fonts/Neon.ttf') format('truetype');
  }

  @font-face {
    font-family: 'pincoyablack';
    src: url('/public/fonts/pincoyablack.otf') format('opentype');
  }

  @font-face {
    font-family: 'PowerPuffGirls';
    src: url('/public/fonts/powerpuff girls font.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Highrise';
    src: url('/public/fonts/HighriseFont-Demo-Regular.otf') format('opentype');
  }

  @font-face {
    font-family: 'Sunwish';
    src: url('/public/fonts/Sunwish Maverick.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Rollergirls';
    src: url('/public/fonts/ROLLERGI.TTF') format('truetype');
  }

  @font-face {
    font-family: 'Lemonmilk';
    src: url('/public/fonts/LEMONMILK-RegularItalic.otf') format('opentype');
  }

  @font-face {
    font-family: 'Coiny';
    src: url('/public/fonts/Coiny-Cyrillic.ttf') format('truetype');
  }




  @font-face {
    font-family: 'Glorify';
    src: url('/public/fonts/Glorify SH Demo.ttf') format('truetype');
  }
  @font-face {
    font-family: 'LeJourSerif';
    src: url('/public/fonts/Le Jour Serif Personal Use Only.otf') format('opentype');
  }
  @font-face {
    font-family: 'Bulagria';
    src: url('/public/fonts/Bulagria.otf') format('opentype');
  }
  @font-face {
    font-family: 'TightenCaps';
    src: url('/public/fonts/TightenCaps-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'SuperRich';
    src: url('/public/fonts/SuperRichExpanded_PERSONAL_USE_ONLY - Stretch.otf') format('opentype');
  }
  @font-face {
    font-family: 'Lovan';
    src: url('/public/fonts/Lovan.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Astonpoliz';
    src: url('/public/fonts/Astonpoliz.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Quicksilver';
    src: url('/public/fonts/Quicksilver.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Notted';
    src: url('/public/fonts/Notted.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Eastman';
    src: url('/public/fonts/EastmanRomanTrial-Bold.otf') format('opentype');
  }
  @font-face {
    font-family: 'DKlongreach';
    src: url('/public/fonts/DK Longreach.otf') format('opentype');
  }
  @font-face {
    font-family: 'Cinematografica';
    src: url('/public/fonts/Cinematografica-Regular-trial.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Longhaul';
    src: url('/public/fonts/Longhaul.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Evogria';
    src: url('/public/fonts/Evogria.otf') format('opentype');
  }
  @font-face {
    font-family: 'Coluna';
    src: url('/public/fonts/Coluna.otf') format('opentype');
  }
  @font-face {
    font-family: 'BankPrinter';
    src: url('/public/fonts/F25_Bank_Printer.ttf') format('truetype');
  }



  @font-face {
    font-family: 'Carbon';
    src: url('/public/fonts/carbon bl.otf') format('opentype');
  }
  @font-face {
    font-family: 'GrandMalefic';
    src: url('/public/fonts/Grand Malefic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'ButlerStencil';
    src: url('/public/fonts/ButlerStencil.woff') format('woff');
  }

  @font-face {
    font-family: 'RacingCar';
    src: url('/public/fonts/Racing Car.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Bayside';
    src: url('/public/fonts/BaysideFont-Regular-Demo.otf') format('opentype');
  }

  @font-face {
    font-family: 'VintageWarehouse';
    src: url('/public/fonts/Vintage Warehouse.ttf') format('truetype');
  }