.navbar {
    display: flex;
    justify-content: space-between;
    font-family: "Porscha";
    flex-direction: row;
    align-items: center;
    padding-top: 2.0rem ;
    margin-bottom: 0.8rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 0px ;
  }
  
  .nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  
  .nav-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    font-weight: 500;
    cursor: pointer;
  }
  
  .nav-list li a {
    text-decoration: none;
    transition: all 0.2s ease-in-out;
  }
  
  .nav-list li a:hover {
    transform: translateY(-5px);
  }
  
  .logo h1 {
    font-family: 'Porscha';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 700;
    cursor: pointer;
    
    transition: all 0.2s ease-in-out;
  }
  .logo h1:hover {
    transform: translateX(-5px);
  }
  .nav-list a.active {
    border: 1px solid;
    padding: 0px 6px ;
    border-radius: 5px;
  }
  
  .nav-list button {
    
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
  }
  
  /* mobile menu */
  
  @media screen and (min-width: 320px) and (max-width: 768px) {
    .nav-list {
      display: none;
    }
  
    .mobile-menu-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      padding: 1rem;
    }
    .mobile-menu-content li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
    }
    .mobile-menu-content li a {
      text-decoration: none;
      transition: all 0.2s ease-in-out;
    }
    .mobile-menu-content li a:hover {
      transform: translateY(-5px);
    }
    .mobile-menu-toggle-close {
      margin-bottom: 2rem;
    }
  }
  
  /* desktop menu */
  
  @media screen and (min-width: 769px) {
    .mobile-menu {
      display: none;
    }
  }